@(user: Student)
@template("User Profile"){

    <div class="col-xs-12 col-md-12" style="padding-top: 20px">
        <div class="jumbotron">
            <h1 class="slogan">Gamify your studies!</h1>
            <p><b>Hallo @user.NickName,</b> <br> im Rahmen des FWPMs Design Thinking haben wir ein kleines Spiel zur Gamifizierung deines Studiums erarbeitet.</p>
        </div>
    </div>


    <div class="col-xs-12 col-md-6">
        <div class="panel panel-primary">
                <!-- Default panel contents -->
                <div class="panel-heading"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>  User Profile</div>
                    <!-- Table -->
                <table class="table">
                    <tbody>
                        <tr>
                            <td><b>NickName</b></td>
                            <td>@user.NickName</td>
                        </tr>
                        <tr>
                            <td><b>Semester</b></td>
                            <td>@user.Semester</td>
                        </tr>
                        <tr>
                            <td><b>Email</b></td>
                            <td>@user.Email</td>
                        </tr>
                        <tr>
                            <td><b>Points</b></td>
                            <td>@user.Points</td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>

    <div class="col-xs-12 col-md-6">

        <div class="panel panel-primary">
                <!-- Default panel contents -->
            <div class="panel-heading"><span class="glyphicon glyphicon glyphicon-king" aria-hidden="true"></span>  Ranking</div>
            <div class="panel-body">
                <p>Text will follow eventually.</p>
            </div>

                <!-- Table -->
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nickname</th>
                        <th>Semester</th>
                        <th>Points</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>3</td>
                        <td>90</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>4</td>
                        <td>85</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>3</td>
                        <td>10</td>
                    </tr>
                </tbody>
            </table>

        </div>

        <nav>
            <ul class="pagination" style="margin-top: 0px">
                <li class="disabled">
                    <a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a>
                </li>
                <li class="active">
                    <a href="#">1 <span class="sr-only">(current)</span></a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
            </ul>
        </nav>

    </div>

    <div class="col-xs-12 col-md-12">

        <div class="bs-callout bs-callout-primary">
            <h4>Spielanleitung</h4>
            <p>Da dies der erste Protoyp ist, erhält jeder Student zu Beginn dieselbe Punktzahl (0 Punkte). Auf der Quiz-Seite könnt ihr zwischen vier unterschiedlichen Kategorien auswählen und diese jeweils priorisieren. Sobald genügend Teilnehmer angemeldet sind, startet das Quiz. Beantwortet ihr alle Fragen, erhaltet ihr 10 Punkte. Sind alle Fragen richtig beantwortet, erhaltet ihr weitere 10 Punkte. Falls ihr das Spiel vorzeitig beendet, erhaltet ihr keine Punkte. Die ersten drei Plätze erhalten am Sommerfest eine kleine Belohnung.</p>
        </div>


       <a href="/election" style="padding-bottom: 30px;">
           <button type="button"  class="btn btn-lg btn-primary" aria-label="Left Align">
                <span class="glyphicon glyphicon-play glyphicon-align-left" aria-hidden="true"></span> Start
            </button>
       </a>

    </div>

}

<style type="text/css">
body {
    background-color: black;
    background: url("http://zakenmam.nl/wp-content/uploads/2016/02/Schermafbeelding-2016-02-08-om-20.05.52.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.jumbotron{
    background-image: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/lined_paper.png");
}

.slogan {
    color: #428bca !important;
    padding-bottom: 15px;
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}

.bs-callout {
    background-color: white;
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
</style>