@(user: Student)
@template("Election") {

    <div class="container" style="padding-top: 20px">
        <div class="panel panel-primary" >
            <div class="panel-heading">
                <h1>Elect your Categories:</h1>
            </div>
            <div class="panel-body">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-2 col-md-2"><img src="https://s-media-cache-ak0.pinimg.com/736x/0f/d3/87/0fd387db850dbb8501cbe1aaa3315786.jpg"></div>
                        <div class="col-xs-7 col-md-7">
                            <p><b>Nickname: </b>@user.NickName
                                <br>
                                <b>E-Mail: </b>@user.Email
                                <br>
                                <b>Semester: </b>@user.Semester
                                <br>
                                <b>Points: </b>@user.Points Points</p>
                        </div>
                        <div class="col-xs-2 col-md-2">
                            <div class="list-group">
                                <a class="list-group-item">Movies</a>
                                <a class="list-group-item">IT</a>
                                <a class="list-group-item">Sports</a>
                            </div>
                          <a href="/quiz">  <button id="btn_send" type="button" class="btn btn-default">SEND</button></a>
                        </div>

                    </div>
                </div>
                <div>
                    <h3>Choose your Amount of parallel Games at one Round:</h3>
                    <p>Max 3:</p>
                    <form role="form">
                        <div class="form-group">
                            <label for="sel1">Your Choice:</label>
                            <select class="form-control" id="countsel" onchange="addCount('Geography',this.value)">
                                <option>0</option>

                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                        </div>
                    </form>


                    <table class="table table-stripe">
                        <thead>
                            <tr>
                                <th>Movies</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Who was the first black actress one an Oscar? Answer Questions about Movies from the very <br>first beginning of Hollywood till now. <br>
                                    Questions about Plots, Actors, Directors and so on.</td>
                                <td><div>
                                    <div class="form-group">
                                        <label for="sel1">Priority:</label>
                                        <select class="form-control" id="moviesel"  onchange="addPrio('Movies',this.value)">
                                            <option>0</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>

                                        </select>
                                    </div>
                                </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-stripe">
                        <thead>
                            <tr>
                                <th>Sports</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>When did Germany won the World-Cup? Answer Questions about every Sport in this World. <br>
                                    It could be about the sport itself, sportsmen and tournaments.</td>
                                <td><div>
                                    <div class="form-group">
                                        <label for="sel1">Priority:</label>
                                        <select class="form-control" id="sportsel" onchange="addPrio('Sports',this.value)">
                                            <option>0</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>

                                        </select>
                                    </div>
                                </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-stripe">
                        <thead>
                            <tr>
                                <th>IT</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Are you a Geek or just a surfer? Answer Questions all around IT, Computers and Programming.</td>
                                <td><div>
                                    <div class="form-group">
                                        <label for="sel1">Priority:</label>
                                        <select class="form-control" id="itsel" onchange="addPrio('IT',this.value)">
                                            <option>0</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>

                                        </select>
                                    </div>
                                </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-stripe">
                        <thead>
                            <tr>
                                <th>Geography</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Ever heard of Buxtehude? Whats bigger: Iceland or Germany? How many inhabitants live in Norway?<br>
                                    Answer Questions about population, some facts or the ocean.</td>
                                <td><div>
                                    <div class="form-group">
                                        <label for="sel1">Priority:</label>
                                        <select class="form-control" id="geosel" onchange="addPrio('Geography',this.value)">
                                            <option>0</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                        </select>
                                    </div>
                                </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <script>

        var game = {
            name : "",
            prio : ""
        }

        var count = 0;

        games = [];


        

        addPrio = function(name,prio) {
            game.name = name;
            game.prio = prio;
            games.push(game)
            console.log(games[0].name);
            console.log(games[0].prio);
        }

        addCount = function(c) {
           count = c;

        }

    </script>

    <style type="text/css">
    body {
        background-color: black ;
        background: url("http://zakenmam.nl/wp-content/uploads/2016/02/Schermafbeelding-2016-02-08-om-20.05.52.png") no-repeat center center fixed ;
        -webkit-background-size: cover ;
        -moz-background-size: cover ;
        -o-background-size: cover ;
        background-size: cover ;
    }
    h1 {
        color: #FFFFFF ;
    }
    h2 {
        color: #FFFFFF ;
    }
    </style>
}