@(user: Student)
@template("Feedback"){

    <div class="col-xs-12 col-md-12" style="padding-top: 20px">
        <div class="jumbotron">
            <h1 class="slogan">Feedback !</h1>
            <p><b>Hallo @user.NickName,</b> <br> herzlichen Dank für die Teilnahme an unserem Quiz. <br> Bitte gib uns noch ein kurzes Feedback über deine Erfahrung.</p>
        </div>
    </div>


    <div class="col-xs-12 col-md-12" style="padding-bottom: 30px;">
        <form role="form" method="post" action="/result">

            <div class="panel panel-default">

                <div class="panel-heading">Kannst du dir vorstellen, einen gamifizierten FWPM-Wahlprozess in ähnlicher Weise zu durchlaufen?</div>
                <div class="panel-body">

                        <textarea class="form-control" rows="5" name="question1" id="question1"></textarea>
                </div>
            </div>

            <div class="panel panel-default">

                <div class="panel-heading">Findest du es fair, wenn höhere Semester mehr Punkte erhalten als niedrigere?</div>
                <div class="panel-body">

                        <textarea class="form-control" rows="5" name="question2" id="question2"></textarea>
                </div>
            </div>

            <div class="panel panel-default">

                <div class="panel-heading">Wie findest du das aktuelle FWPM-Auswahlsystem?</div>
                <div class="panel-body">

                        <textarea class="form-control" rows="5"  name="question3" id="question3"></textarea>
                </div>

                        <select class="form-control" name="question3sel" id="question3sel">
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                        </select>
            </div>

            <div class="panel panel-default">

                <div class="panel-heading">Was möchtest du uns sonst noch etwas mitteilen?</div>
                <div class="panel-body">

                        <textarea class="form-control" rows="5" name="question4"  id="question4"></textarea>
                </div>
            </div>

            <div class="panel panel-default">

                <div class="panel-heading">Falls du auf Exit geklickt hast, bitte erkläutere kurz warum?</div>
                <div class="panel-body">

                        <textarea class="form-control" rows="5" name="question5" id="question5"></textarea>
                </div>
            </div>

            <button type="button" value="Absenden" onclick="sendMail()" class="btn btn-info btn-block">Senden</button>
        </form>

    </div>
}

    <script>
        function sendMail() {
            var link = "mailto:feedback.dtg@@studi.fhws.de"
                            + "?subject=" + escape("Feedback @user.Email")
                            + "&body="
                            + "Frage 1: "+ escape(document.getElementById('question1').value) +"%0D%0A"
                            + "Frage 2: "+ escape(document.getElementById('question2').value) +"%0D%0A"
                            + "Frage 3: "+ escape(document.getElementById('question3').value) +"%0D%0A"
                            + "Frage 4: "+ escape(document.getElementById('question4').value) +"%0D%0A"
                            + "Frage 5: "+ escape(document.getElementById('question5').value) +"%0D%0A"
                            + "Frage 3 Punkte " + escape(document.getElementById('question3sel').value)
    ;

            window.location.href = link;
            window.open("/thanks");
        }
    </script>

<style type="text/css">
body {
    background-color: black;
    background: url("http://zakenmam.nl/wp-content/uploads/2016/02/Schermafbeelding-2016-02-08-om-20.05.52.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.jumbotron{
    background-image: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/lined_paper.png");
}

.slogan {
    color: #428bca !important;
    padding-bottom: 15px;
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}

.bs-callout {
    background-color: white;
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
</style>