@template("Login"){

  <div class="container">
    <br>

    <br>
    <div class="col-xs-12 col-md-12" style="padding-top: 20px">
      <div class="jumbotron">
        <h1 class="slogan">Gamify your studies!</h1>
        <p><b>Hallo,</b> <br> im Rahmen des FWPMs Design Thinking haben wir ein kleines Spiel zur Gamifizierung deines Studiums erarbeitet.
        <p>Melde dich heute noch an und mache die Welt dadruch ein bisschen besser !</p>
      </div>
    </div>


    <div class="row centered-form">

      <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">

        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Sign Up today!</h3>
          </div>
          <div class="panel-body">
            <form role="form" method="post" action="/signup">
              <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <div class="form-group">
                    <input type="text" name="first_name" id="first_name" class="form-control input-sm" placeholder="Nickname">
                  </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <div class="form-group">
                    <input type="number" name="last_name" id="last_name" class="form-control input-sm" placeholder="Semester">
                  </div>
                </div>
              </div>

              <div class="form-group">
                <input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email Address">
              </div>

              <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <div class="form-group">
                    <input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password">
                  </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <div class="form-group">
                    <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-sm" placeholder="Confirm Password">
                  </div>
                </div>
              </div>
              <input type="submit" value="Register"  class="btn btn-info btn-block">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <style type="text/css">
  body {
    background-color: black;
    background: url("http://zakenmam.nl/wp-content/uploads/2016/02/Schermafbeelding-2016-02-08-om-20.05.52.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
    h2 {
      color: #ff6633;
    }

  .jumbotron{
    background-image: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/lined_paper.png");
  }

  .slogan {
    color: #428bca !important;
    padding-bottom: 15px;
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
  }

  </style>
}