@(incoming: Integer, Signup: Integer)
  @template("Monitoring") {


    <div class="container">
      <div class="panel panel-default">
        <div class="panel-heading">
          Monitoring
        </div>
        <div class="panel-body">
          <h4>Incoming: @incoming</h4>
          <h4>SignUp: @Signup </h4>
        </div>
      </div>
    </div>
  }
