@template("Quiz") {
    <div class="container">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>MOVIES</h2>
                    <h3><span class="label label-warning" id="qid">1</span>
                        <br>
                        <br>

                        <p>Wer ist der erfolgreichste männliche Oscargewinner?</h3></p>
                </div>
                <div class="modal-body">
                    <div class="col-xs-3 col-xs-offset-5">
                        <div id="loadbar" style="display: none ;">
                            <div class="blockG" id="rotateG_01"></div>
                            <div class="blockG" id="rotateG_02"></div>
                            <div class="blockG" id="rotateG_03"></div>
                            <div class="blockG" id="rotateG_04"></div>
                            <div class="blockG" id="rotateG_05"></div>
                            <div class="blockG" id="rotateG_06"></div>
                            <div class="blockG" id="rotateG_07"></div>
                            <div class="blockG" id="rotateG_08"></div>
                        </div>
                    </div>

                    <div class="quiz" id="quiz" data-toggle="buttons">
                        <label class="element-animation1 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="1">
                           Jason Statham</label>
                        <label class="element-animation2 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="2">
                            Tom Hanks</label>
                        <label class="element-animation3 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="3">
                            Jack Nicholson</label>
                        <label class="element-animation4 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="4">
                            Brad Pitt</label>
                    </div>
                </div>
                <div class="modal-footer text-muted">
                    <span id="answer"></span>
                    <a href="/feedback"><button type="button" class="btn btn-danger pull-right">Exit</button></a>
                </div>
            </div>
        </div>
    </div>

    <style type="text/css">
    body {
        background-color: black;
        background: url("http://zakenmam.nl/wp-content/uploads/2016/02/Schermafbeelding-2016-02-08-om-20.05.52.png") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    h2 {
        color: #ff6633;
    }

    .jumbotron{
        background-image: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/lined_paper.png");
    }

    .slogan {
        color: #428bca !important;
        padding-bottom: 15px;
        font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
    }

    </style>
}