@(user: Student)
@template("Danke"){

    <div class="col-xs-12 col-md-12" style="padding-top: 20px">
        <div class="jumbotron">
            <h1 class="slogan">Danke !</h1>
            <p><b>Lieber @user.NickName,</b> <br> herzlichen Dank für dein Feedback.</p>

            <a href="/login" style="padding-bottom: 30px;">
                <button type="button"  class="btn btn-lg btn-primary" aria-label="Left Align">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Start
                </button>
            </a>
        </div>
    </div>
}
<style type="text/css">
body {
    background-color: black;
    background: url("http://zakenmam.nl/wp-content/uploads/2016/02/Schermafbeelding-2016-02-08-om-20.05.52.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.jumbotron{
    background-image: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/lined_paper.png");
}

.slogan {
    color: #428bca !important;
    padding-bottom: 15px;
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}

.bs-callout {
    background-color: white;
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
</style>